@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: tahoma, arial;
}
body{
	background: #444;
}
#wrapper{
	max-width: 1200px;
	min-width: 650px;
	margin: 0 auto;
	padding: 20px;
}
#map{
	max-width: 100%;
}
p.text-cont, p.text-cont>a{
	padding: 20px 0px;
	color: #fff;
	font-size: 1.5em;
}
#button-home a{
	display: block;
	margin: 0px auto 10px;
	width: 300px;
	text-align: center;
	border: 5px solid #000;
	background: #ccc;
	padding: 10px;
	border-radius: 30px;
	font-size: 2em;
	font-family: lobster;
	color: #000;
}
p.copy-coder a, p.copy-owner a, p.contacts a{
	/* font-size: 12px; */
	color: #4671D5;
	color: #fff;
}
#footer{
	color: #fff;
	/* margin-top: 100px; */
	padding-top: 20px;
	font-size: 13px;
}

@media screen and (max-width: 980px){
	body{
		/* background: #eee; */
	}
	#wrapper{
		min-height: 1200px;
		min-width: 790px;
		padding: 40px;
	}
	#button-home{
		font-size: 1.5em;
		padding-top: 80px;
		padding-bottom: 20px;
	}
	p.text-cont, p.text-cont>a{
		font-size: 1.8em;
		/* padding: 40px; */
	}
	#footer{
		font-size: 12px;
	}
	p.copy-coder{
 		border-bottom: 2px solid #fff;
		padding-bottom: 50px;
	}
}