@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: tahoma, arial;
}
body{
}
#wrapper{
	background:rgba(0,0,0,.8);
	max-width: 1200px;
	min-width: 650px;
	margin: 0 auto;
	padding: 20px;
}
#map{
	max-width: 100%;
}
p.text-cont, p.text-cont>a{
	padding: 20px 0px;
	color: #fff;
	font-size: 1.5em;
}
#button-home a{
	display: block;
	margin: -70px auto 10px;
	width: 300px;
	text-align: center;
	border: 5px solid #000;
	background: #ccc;
	padding: 10px;
	border-radius: 30px;
	font-size: 2em;
	font-family: lobster;
	color: #000;
}

@media screen and (max-width: 980px){
	p.text-cont, p.text-cont>a{
		font-size: 2em;
		padding: 40px;
	}
	#wrapper{
		min-height: 1200px;
		min-width: 790px;
	}
	#button-home{
		font-size: 1.5em;
		padding-top: 80px;
		padding-bottom: 20px;
	}
}